body,
html,
:root {
  margin: 0;
  padding: 0;
  background-color: dimgray;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(105, 105, 105, 0.8);
  visibility: hidden;
}

.popupmessage {
  position: absolute;
  background-color: #b9b9b9;
  -webkit-transform-origin: center;
          transform-origin: center;
  padding: 30px;
  top: 20vh;
  left: calc(50vw - 250px);
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 0px 5px black;
          box-shadow: 10px 10px 0px 5px black;
}

.popupmessage form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupmessage input,
.popupmessage label,
.popupmessage p {
  font-size: x-large;
  margin: 0;
}

.popupmessage input {
  border: 3px solid black;
  border-radius: 10px;
}

.popupmessage #name1,
.popupmessage #name2 {
  margin-bottom: 20px;
}

.popupmessage .labelX,
.popupmessage .labelO {
  padding: 15px 5px 15px 10px;
}

.popupmessage #symbolX,
.popupmessage #symbolO {
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 10px;
}

.popupmessage .symbols .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.popupmessage .submitButton {
  font-size: x-large;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #d6ffd6;
  padding: 5px 10px 5px 10px;
  -webkit-box-shadow: 4px 4px 0px 2px black;
          box-shadow: 4px 4px 0px 2px black;
}

.open {
  visibility: visible;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gameboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[3];
      grid-template-columns: repeat(3, 150px);
  -ms-grid-rows: (150px)[3];
      grid-template-rows: repeat(3, 150px);
  gap: 20px;
}

.gameboard .tile {
  background-color: white;
  border: solid 2px black;
  text-align: center;
  font-size: 7em;
  border: 5px solid black;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 0px 2px black;
          box-shadow: 5px 5px 0px 2px black;
}

.player1,
.player2 {
  border: 5px solid black;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 0px 2px black;
          box-shadow: 5px 5px 0px 2px black;
  width: 300px;
}

.player1 #turn1,
.player1 #turn2,
.player2 #turn1,
.player2 #turn2 {
  height: 70px;
  width: 100px;
  background-color: seagreen;
}

.player1 #turn1:empty,
.player1 #turn2:empty,
.player2 #turn1:empty,
.player2 #turn2:empty {
  background-color: rgba(105, 105, 105, 0);
}

.backupGameboard {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */