body{
    margin: 0;
    padding: 0;
    background-color: dimgray;
}

.popup {
    position: relative;
    height: 100vh;
    width: 100vw;
    align-content: center;
    align-items: center;
    color: rgba($color: #000000, $alpha: .9);
    visibility: hidden;
}

.popupmessage {
    position: absolute;
    height: 300px;
    width: 500px;
    background-color: wheat;
    transform-origin: center;
    top: 20vh;
    left: calc(50vw - 250px);
}

.open {
    visibility: visible;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}