body,
html,
:root {
    margin: 0;
    padding: 0;
    background-color: dimgray;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-content: center;
    align-items: center;
    background-color: rgba($color: dimgray, $alpha: .8);
    visibility: hidden;
}

.popupmessage {
    position: absolute;
    background-color: rgb(185, 185, 185);
    transform-origin: center;
    padding: 30px;
    top: 20vh;
    left: calc(50vw - 250px);   
    border-radius: 20px;
    box-shadow: 10px 10px 0px 5px black;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }         
    input,
    label,
    p {
        font-size: x-large;
        margin: 0;
    }
    input {
        border: 3px solid black;
        border-radius: 10px;
    }
    #name1,
    #name2 {
        margin-bottom: 20px;
    }
    .labelX,
    .labelO {
        padding: 15px 5px 15px 10px;
    }
    #symbolX,
    #symbolO {
        height: 20px;
        width: 20px;
        border: 3px solid black;
        border-radius: 10px;
    }
    .symbols {
        .radio {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    }
    .submitButton {
        font-size: x-large;
        border: 3px solid black;
        border-radius: 10px;
        background-color: rgb(214, 255, 214);
        padding: 5px 10px 5px 10px; 
        box-shadow: 4px 4px 0px 2px rgb(0, 0, 0);
    }
}


.open {
    visibility: visible;
}

.game {
    display: flex;
    justify-content: space-evenly;    
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
    .tile {
        background-color: white;
        border: solid 2px black;
        text-align: center;
        font-size: 7em;
        border: 5px solid black;
        border-radius: 20px;
        box-shadow: 5px 5px 0px 2px rgb(0, 0, 0);
    }
}

.player1,
.player2 {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 0px 2px rgb(0, 0, 0);
    width: 300px;
    #turn1,
    #turn2 {
        height: 70px;
        width: 100px;
        background-color: seagreen;
    }
    #turn1:empty,
    #turn2:empty {
        background-color: rgba($color: dimgray, $alpha: 0);
    }
}

.backupGameboard {
    visibility: hidden;
    
}